<% @dive.fish.each do |fish| %>
  <div class="col-md-6">
    <a href = "<%= fish.wiki_link %>">
	    <div class="thumbnail fish-thumb">
	    	<button class="btn fish-remove" data-fish-id=<%= fish.id %>, data-dive-id=<%= @dive.id %>>X</button>
	      <%= image_tag "http://#{fish.picture_link}" %>
	      <div class="caption">
	        	<h4><%= fish.name %></h4>
	      </div>
	    </div>
	  </a>
  </div>
<% end %>