<% @dive.fish.each do |fish| %>
  <div class="col-md-6">
    <a href = "<%= fish.wiki_link %>">
	    <div class="thumbnail fish-thumb">
	    	<button class="btn fish-remove" data-fish-id=<%= fish.id %>, data-dive-id=<%= @dive.id %>>X</button>
	      <%= image_tag "http://#{fish.picture_link}" %>
	      <div class="caption">
	      	<% if fish.name.length <= 13 %>
	        	<h3><%= fish.name %></h3>
	        <% else %>
	        	<h5><%= fish.name %></h5>
	        <% end %>
	      </div>
	    </div>
	  </a>
  </div>
<% end %>