<%= form_for @dive, :html => {:multipart => true} do |f| %>
	<div class="row text-center page-header">
		<div class="col-sm-6">
			<h3>
			<%= f.label :dive_site, "Site:" %>
			<%= f.text_field :dive_site, required: true, :id => "dive-site" %>
			</h3>
		</div>
		<div class="col-sm-6">
			<h3>
			<%= f.label :date, "Date:" %>
			<%= f.date_field :date, required: true %>
			</h3>
		</div>
		<br>
		<hr>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>
				<%= f.label :depth, "Maximum Depth:" %>
				<%= f.number_field :depth%> meters
			</p>
			<p>
				<%= f.label :temperature, "Water Temperature:" %>
				<%= f.number_field :temperature%> °C
			</p>
			<p>
				<%= f.label :time_in, "Time In:" %>
				<%= f.time_field :time_in%> 
				<%= f.label :time_out, "Time Out:" %>
				<%= f.time_field :time_out%>
			</p>
			<p>
				<%= f.label :visibility, "Visibility:" %>
				<%= f.number_field :visibility%> meters
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<%= f.label :start_air, "Start Air:" %>
				<%= f.number_field :start_air%> bar
			</p>
			<p>
				<%= f.label :end_air, "End Air:" %>
				<%= f.number_field :end_air%> bar
			</p>

			<p>
				<%= f.label :dive_type, "Dive Type:" %>
				<%= f.select :dive_type, [["—", nil], ["Boat Dive", "boat"],["Beach Dive", "beach"],["Drift Dive", "drift"],["Night Dive", "Night"]] %>
			</p>

			<p>
				<%= f.label :dive_activity, "Dive Activity:" %>
				<%= f.select :dive_activity, [["—", nil], ["Wreck Dive", "wreck"],["Reef Dive", "reef"],["Cave Dive", "cave"],["Training Dive", "training"]] %>
			</p>

			<p>
				<%= f.check_box (:wetsuit) %>
				<%= f.label :wetsuit, "Wetsuit?" %>
			</p>

			<p>
				<%= f.label :conditions, "Water Conditions:" %>
				<%= f.text_field :conditions%>
			</p>
		</div>
		<div class="col-md-4">
			<%= f.text_area :notes, :placeholder => "Notes", :size => "50x10" %>		  	
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-6">
			<% @dive.photos.each do |photo| %>
        <%=link_to image_tag(photo.image_url(:thumb)), photo.image_url %>
      <% end %>

			<%= f.fields_for :photo do |p| %>
				<%= p.file_field :image, :multiple => true, name: "photos[image][]" %>
			<% end %>
		</div>
	</div>
		
	<div class="row">
  	<div class="span6" style="text-align:center">
   	 <%= f.submit "Submit Dive!", class:"btn btn-primary" %>
  	</div>
	</div>
<% end %>