<%# search_form_for @q do |f| %>
  <%# f.label :dive_site_cont, "Search by Dive Site:" %>
  <%# f.text_field :dive_site_cont %>
  <%# f.submit %>
<%# end %>
<div class="panel panel-default">
	<div class="panel-body toscroll">
  	<h1 class ="text-center"> Dive Log </h1>
  	<table class = "table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Site</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<% @dives.order(date: :desc).each do |dive| %>
					<tr class='clickableRow dive-row' href='<%= dive_path(dive) %>'>
						<td><%= dive.id %></td>
						<td><%= dive.dive_site %></td>
						<td><%= dive.date %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


<a href = "<%= new_dive_path %>"> Add a Dive </a>
