<% if authorized_diver(@dive) %>
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
    </div>
  </script>
<% end %>

<div class="panel panel-default toscroll">
  <div class="panel-body">
    <h2 class="text-center">
      A dive at <%= best_in_place_if authorized_diver(@dive), @dive, :dive_site, type: :input %>
    </h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <% if authorized_diver(@dive) %>
          <%= form_tag "#", id: "diver_search", data:{id: @dive.id }, remote:true do %>
            <div class="ui-widget">
              <label for="diver_name">Add a Friend to this Dive: </label>
              <input id="diver_name" name="diver_name">
              <%= submit_tag "Add Diver", class: 'btn btn-primary text-center' %>
            </div>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-md-4 text-center">
        <% if authorized_diver(@dive) %>
          <%= link_to "Delete Dive", dive_path(@dive), :method => :delete, class: 'btn btn-warning text-center' %>
        <% end %>
      </div>    
      <div class="col-md-4 text-center">
      </div>
    </div>
    <br/>
    <div class="row">
      <%= render 'dive_details' %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3 class="page-header text-center">Photos from Dive</h3>
        <div class="row"> <!-- search fish and add photo buttons -->
          <div class="col-md-12">
            <div class="uploaderbutton">
              <% if authorized_diver(@dive) %>
                <div class="uploader">
                  <%= form_for @photo, remote:true do |f| %>
                    <%= f.hidden_field :dive_id, :value => @dive.id %>
                    <%= f.file_field :image, :multiple => true, name:"photo[image]" %>
                  <% end %>
                </div>
                <button class="btn btn-success fileinput-button">Upload a Photo</button>
              <% end %>
            </br>
            </br>
            </div>
            <div class="row gallery dive-photos">
              <%= render 'dive_photos' %>     
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h3 class="page-header text-center">Fish Seen</h3>
        <div class="col-md-12">
          <% if authorized_diver(@dive) %>
            <%= form_tag "#", id: "fish_search", data:{id: @dive.id } do %>
              <div class="ui-widget">
                <label for="name">Fish Name: </label>
                <input id="name" name="name">
                <%= submit_tag "Add Fish", class: 'btn btn-primary text-center' %>
              </div>
              <br/>
            <% end %>
          <% end %>
          <div class="row">
            <div id="fish">
              <%= render 'fishes' %>
            </div>
          </div>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
