<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<div class="panel panel-default">
  <div class="panel-body">
    <h2 class="text-center">A dive at <%= best_in_place @dive, :dive_site, type: :input %></h2>
    <div class="text-center"><a class="btn btn-info text-center" href="<%= edit_dive_path(@dive) %>">Edit Dive</a>
    </div>    
    <div class="row">
      <div class="col-md-6">
        <h3>
          <%= best_in_place @dive, :date, type: :date %>
          <!-- .strftime("%B %d, %Y") -->
        </h3>
        <h4>
          From <%= @dive.time_in.strftime("%I:%M %p") %> to <%= @dive.time_out.strftime("%I:%M %p") %>
          <br/>
          <%= @dive.total_time_in_minutes %> Minutes Long
        </h4>
        <% @dive.divers.each do |d| %>
          <%= link_to((image_tag d.image), d) %>
        <% end %>
      </div>
      <div class="col-md-6 change-units">
        <p>
          Dive Type: <%= best_in_place @dive, :dive_type, type: :select, collection: [["boat", "Boat Dive"], ["beach", "Beach Dive"], ["drift", "Drift Dive"], ["night", "Night Dive"]] %>
          <br/>   
          Dive Activity: <%= best_in_place @dive, :dive_activity, type: :select, collection: [["wreck", "Wreck Dive"], ["reef", "Reef Dive"], ["cave", "Cave Dive"], ["training", "Training Dive"]] %>
          <br/>        
          Maximum Depth: <%= best_in_place @dive, :depth, type: :input %>
          <%= content_tag :span, " meters", class: 'depth' %>
          <br/>
          Water Temperature: <%= best_in_place @dive, :temperature, type: :input %>
          <%= content_tag :span, " °C", class: 'temperature' %>
          <br/>
          Visibility: <%= best_in_place @dive, :visibility, type: :input %>
          <%= content_tag :span, " meters", class: 'visibility' %>
          <br/>
          Conditions: <%= best_in_place @dive, :conditions, type: :input %>
          <br/>                         
          Starting Air: <%= best_in_place @dive, :start_air, type: :input %>
          <%= content_tag :span, " bar", class: 'start_air' %>
          <br/>
          Ending Air: <%= best_in_place @dive, :end_air, type: :input %>
          <%= content_tag :span, " bar", class: 'end_air' %>
          <br/>
          Wetsuit? <%= best_in_place @dive, :wetsuit, type: :checkbox, collection: %w[No Yes] %>
        </p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="gallery">
          <% @dive.photos.each do |photo| %>
            <%=link_to image_tag(photo.image_url(:thumb)), photo.image_url %>
          <% end %>
          </div>
          <div class="uploaderbutton">
            <div class="uploader">
            <%= form_for @photo do |f| %>
              <%= f.hidden_field :dive_id, :value => @dive.id %>
              <%= f.file_field :image, :multiple => true, name: "photo[image]" %>
            <% end %>
            </div>
            <button class = "btn btn-success fileinput-button">Upload a File</button>
          </div>

        </div>
        <div class="col-md-6">
          <p>
            Notes: <%= best_in_place @dive, :notes, type: :textarea %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
