<div class="row">
  <div class="span6">
    <h2>A dive at <%= @dive.dive_site %></h2>
    <h3>
      <%= @dive.date %>
      <br/>
      From <%= @dive.time_in %> to <%= @dive.time_out %>
      <br/>
      <%= @dive.total_time_in_minutes %> Minutes
    </h3>
  </div>
  <div class="span6">
    <p>
      Dive Type: <%= @dive.dive_type %>
      <br/>   
      Dive Activity: <%= @dive.dive_activity %>
      <br/>        
      Maximum Depth: <%= @dive.depth %> m
      <br/>
      Water Temperature: <%= @dive.temperature %> °C
      <br/>
      Visibility: <%= @dive.visibility %> m
      <br/>
      Conditions: <%= @dive.dive_activity %>
      <br/>                         
      Starting Air: <%= @dive.start_air %> bar
      <br/>
      Ending Air: <%= @dive.end_air %> bar
      <br/>
      Wetsuit? <%= @dive.wetsuit %>
    </p>
  </div>
</div>
<div class="row">
  <div class="span12">
    <p>
      Notes: <%= @dive.notes %>
    </p>
  </div>
</div>
