
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-center">A dive at <%= @dive.dive_site %></h2>
      <div class="text-center"><a class="btn btn-info text-center" href="<%= edit_dive_path(@dive) %>">Edit Dive</a></div>
      <div class="row">
        <div class="col-md-6">
          <% @dive.divers.each do |d| %>
            <%= link_to((image_tag d.image), d) %>
          <% end %>
          <h3>
            <%= @dive.date.strftime("%B %d, %Y") %>
          </h3>
          <h4>
            From <%= @dive.time_in.strftime("%I:%M %p") %> to <%= @dive.time_out.strftime("%I:%M %p") %>
            <br/>
            <%= @dive.total_time_in_minutes %> Minutes Long
          </h4>
        </div>
        <div class="col-md-6">
          <p>
            Dive Type: <%= @dive.dive_type %>
            <br/>   
            Dive Activity: <%= @dive.dive_activity %>
            <br/>        
            Maximum Depth: <%= @dive.depth ? @dive.depth.to_s + " m" : "Not Recorded" %>
            <br/>
            Water Temperature: <%= @dive.temperature ? @dive.temperature.to_s + " °C" : "Not Recorded" %>
            <br/>
            Visibility: <%= @dive.visibility ? @dive.visibility.to_s + " m" : "Not Recorded" %>
            <br/>
            Conditions: <%= @dive.conditions %>
            <br/>                         
            Starting Air: <%= @dive.start_air ? @dive.start_air.to_s + " bar" : "Not Recorded" %>
            <br/>
            Ending Air: <%= @dive.end_air ? @dive.end_air.to_s + " bar" : "Not Recorded" %>
            <br/>
            Wetsuit? <%= @dive.wetsuit == 1 ? "Yes" : "No" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            Notes: <%= @dive.notes %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="gallery">
          <% @dive.photos.each do |photo| %>
            <%=link_to image_tag(photo.image_url(:thumb)), photo.image_url %>
          <% end %>
          </div>

          <%= form_for @photo do |f| %>
            <%= f.hidden_field :dive_id, :value => @dive.id %>
            <%= f.label :image, "Add Photos" %>
            <%= f.file_field :image, :multiple => true, name: "photo[image]" %>
            <%= f.submit %>
          <% end %>

        </div>
      </div>

    </div>
  </div>
